.main.book  header.container{
    padding-top: 0px;
}
.main.cv header.container{
    padding-top: 0px;
}
.main.cv div.container{
    padding-top: 30px;
}
.footer div.icons p.p__bottom{
    margin: 0px;
    color: #ffffff;
}